
@{
    ViewBag.Title = "Zmiana hasła";
}

<div align="center" style="height: 400px">
    <div class="text-center" style="width: 700px">
        <br /><br /><br />
        <h2 style="color: green">Gratulacje!</h2>
        Hasło zostało pomyślnie zmienione.
    </div>
    <br />
    <div class="btn btn-default" style="width: 150px">
        @Html.ActionLink("Zaloguj się", "Login", "Account")
    </div>
</div>
