
@{
    ViewBag.Title = "Rejestracja";
}

<div align="center" style="height: 400px">
    <div class="text-center" style="width: 700px">
        <br /><br /><br />
        <h2 style="color: green">Gratulacje!</h2>
        Zakończono rejestracje nowego użytkownika. Na podany adres e-mail został wysłany link aktywacyjny.
        <br />
        Aktywuj konto i baw się razem z nami!
    </div>
    <br />
    <div class="btn btn-default" style="width: 150px">
        @Html.ActionLink("Zaloguj się", "Login", "Account")
    </div>
</div>
